<section class="section contacts-section">
  <span class="anchor" id="contacts"></span>
  <div class="container">
    <h2 class="section__title contacts-section__title">Contact us</h2>

    <address class="contacts">
      <ul class="address-list">
        <li class="address-list__item">
          <a class="address-list__link" href="#"
            >4107th Avenue, Grassland, Alberta, Canada</a
          >

          <svg class="address-list__icon-point">
            <use href="./images/icons.svg#icon-point"></use>
          </svg>
        </li>

        <li class="address-list__item">
          <a class="address-list__link" href="tel:+4417653907">+4417653907</a>

          <svg class="address-list__icon">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </li>

        <li class="address-list__item">
          <a class="address-list__link" href="mailto:Fotografas@hey.com"
            >Fotografas@hey.com</a
          >

          <svg class="address-list__icon">
            <use href="./images/icons.svg#icon-email"></use>
          </svg>
        </li>
      </ul>
    </address>
  </div>
</section>
