<section class="section">
  <span class="anchor" id="gallery"></span>
  <div class="container">
    <h2 class="section__title">Gallery</h2>
  </div>
  <div class="gallery-container">
    <ul class="gallery-list gallery">
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-1.jpg    1x,
              ./images/modal-images/gallery-img-1@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-1.jpg"
            alt="Holiday"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-2.jpg    1x,
              ./images/modal-images/gallery-img-2@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-2.jpg"
            alt="Presentation"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-3.jpg    1x,
              ./images/modal-images/gallery-img-3@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-3.jpg"
            alt="Three persons"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-4.jpg    1x,
              ./images/modal-images/gallery-img-4@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-4.jpg"
            alt="Cosmetics"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-5.jpg    1x,
              ./images/modal-images/gallery-img-5@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-5.jpg"
            alt="Girl"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-6.jpg    1x,
              ./images/modal-images/gallery-img-6@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-6.jpg"
            alt="Coca Cola"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-7.jpg    1x,
              ./images/modal-images/gallery-img-7@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-7.jpg"
            alt="Sea"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-8.jpg    1x,
              ./images/modal-images/gallery-img-8@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-8.jpg"
            alt="Brand"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-9.jpg    1x,
              ./images/modal-images/gallery-img-9@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-9.jpg"
            alt="Brand car"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-10.jpg    1x,
              ./images/modal-images/gallery-img-10@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-10.jpg"
            alt="Cosmetics"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-11.jpg    1x,
              ./images/modal-images/gallery-img-11@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-11.jpg"
            alt="Trainers"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-12.jpg    1x,
              ./images/modal-images/gallery-img-12@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-12.jpg"
            alt="Photographer"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-13.jpg    1x,
              ./images/modal-images/gallery-img-13@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-13.jpg"
            alt="Brand car"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-14.jpg    1x,
              ./images/modal-images/gallery-img-14@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-14.jpg"
            alt="Brand"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-15.jpg    1x,
              ./images/modal-images/gallery-img-15@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-15.jpg"
            alt="Brand car"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-16.jpg    1x,
              ./images/modal-images/gallery-img-16@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-16.jpg"
            alt="Lake"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-17.jpg    1x,
              ./images/modal-images/gallery-img-17@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-17.jpg"
            alt="Skyscraper"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-18.jpg    1x,
              ./images/modal-images/gallery-img-18@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-18.jpg"
            alt="Road"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-19.jpg    1x,
              ./images/modal-images/gallery-img-19@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-19.jpg"
            alt="Coca Cola"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-20.jpg    1x,
              ./images/modal-images/gallery-img-20@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-20.jpg"
            alt="Girl"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-21.jpg    1x,
              ./images/modal-images/gallery-img-21@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-21.jpg"
            alt="Deer"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-22.jpg    1x,
              ./images/modal-images/gallery-img-22@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-22.jpg"
            alt="Brand"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-23.jpg    1x,
              ./images/modal-images/gallery-img-23@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-23.jpg"
            alt="Brands"
          />
        </a>
      </li>
      <li class="gallery-list__item">
        <a class="gallery-list__link" href="#">
          <img
            class="gallery-list__img"
            srcset="
              ./images/modal-images/gallery-img-24.jpg    1x,
              ./images/modal-images/gallery-img-24@2x.jpg 2x
            "
            src="./images/modal-images/gallery-img-24.jpg"
            alt="Tiger"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
