<section
  class="section callback-section section--small-top-padding section--big-bottom-padding"
>
  <div class="container">
    <h2 class="section__title callback-section__title">Or message us</h2>

    <form class="page-form">
      <label class="page-form__field">
        <span class="page-form__label">Name</span>
        <input class="page-form__input" name="name" type="text" />
      </label>

      <label class="page-form__field">
        <span class="page-form__label">Email</span>
        <input class="page-form__input" name="email" type="text" />
      </label>

      <label class="page-form__comment">
        <span class="page-form__label"
          ><span class="page-form__elem">Your </span>Message</span
        >
        <textarea
          class="page-form__input page-form__input--comment"
          name="comment"
        ></textarea>
      </label>

      <button class="btn btn--primary btn--center" type="submit">Submit</button>
    </form>
  </div>
</section>
