<section class="section">
  <span class="anchor" id="services"></span>
  <div class="container services-container">
    <h2 class="section__title services-container__title">Services</h2>

    <ul class="services-imgs-list">
      <li class="services-imgs-list__item">
        <picture>
          <source
            srcset="
              ./images/desktop-images/desktop-services-img-1.webp    1x,
              ./images/desktop-images/desktop-services-img-1@2x.webp 2x
            "
            media="(min-width: 1320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop-images/desktop-services-img-1.jpg    1x,
              ./images/desktop-images/desktop-services-img-1@2x.jpg 2x
            "
            media="(min-width: 1320px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/mobile-images/mobile-services-img-1.webp    1x,
              ./images/mobile-images/mobile-services-img-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile-images/mobile-services-img-1.jpg    1x,
              ./images/mobile-images/mobile-services-img-1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/mobile-images/mobile-services-img-1.jpg"
            alt="Photo camera"
          />
        </picture>
      </li>

      <li class="services-imgs-list__item">
        <picture>
          <source
            srcset="
              ./images/desktop-images/desktop-services-img-2.webp    1x,
              ./images/desktop-images/desktop-services-img-2@2x.webp 2x
            "
            media="(min-width: 1320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop-images/desktop-services-img-2.jpg    1x,
              ./images/desktop-images/desktop-services-img-2@2x.jpg 2x
            "
            media="(min-width: 1320px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/mobile-images/mobile-services-img-2.webp    1x,
              ./images/mobile-images/mobile-services-img-2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile-images/mobile-services-img-2.jpg    1x,
              ./images/mobile-images/mobile-services-img-2@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/mobile-images/mobile-services-img-2.jpg"
            alt="Camera and photos on thr table"
          />
        </picture>
      </li>

      <li class="services-imgs-list__item">
        <picture>
          <source
            srcset="
              ./images/desktop-images/desktop-services-img-3.webp    1x,
              ./images/desktop-images/desktop-services-img-3@2x.webp 2x
            "
            media="(min-width: 1320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop-images/desktop-services-img-3.jpg    1x,
              ./images/desktop-images/desktop-services-img-3@2x.jpg 2x
            "
            media="(min-width: 1320px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/mobile-images/mobile-services-img-3.webp    1x,
              ./images/mobile-images/mobile-services-img-3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile-images/mobile-services-img-3.jpg    1x,
              ./images/mobile-images/mobile-services-img-3@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/mobile-images/mobile-services-img-3.jpg"
            alt="Video camera"
          />
        </picture>
      </li>
    </ul>

    <ul class="services-list">
      <li class="services-list__item">
        Lorem ipsum dolor sit amet<span class="symbol-hidden">,</span>
      </li>
      <li class="services-list__item">
        Lorem ipsum dolor sit amet<span class="symbol-hidden">,</span>
      </li>
      <li class="services-list__item">
        Lorem ipsum dolor sit amet<span class="symbol-hidden">,</span>
      </li>
      <li class="services-list__item services-list__item--hidden">
        Lorem ipsum dolor sit amet<span class="symbol-hidden">,</span>
      </li>
    </ul>

    <a class="btn btn--primary" href="#">See more</a>
  </div>
</section>
