<section class="section">
  <div class="container sessions-container">
    <div class="sessions-box">
      <h2
        class="section__title sessions-container__title sessions-container__title--right"
      >
        Sessions
      </h2>

      <div class="sessions-box__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop-images/desktop-sessions-img.webp    1x,
              ./images/desktop-images/desktop-sessions-img@2x.webp 2x
            "
            media="(min-width: 1320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop-images/desktop-sessions-img.jpg    1x,
              ./images/desktop-images/desktop-sessions-img@2x.jpg 2x
            "
            media="(min-width: 1320px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/mobile-images/mobile-sessions-img.webp    1x,
              ./images/mobile-images/mobile-sessions-img@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile-images/mobile-sessions-img.jpg    1x,
              ./images/mobile-images/mobile-sessions-img@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/mobile-images/mobile-sessions-img.jpg"
            alt="Studia"
          />
        </picture>
      </div>

      <p class="sessions-box__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet
        habitant facilisis sapien massa duis. Consequat, vitae elit pellentesque
        fringilla. Non a, neque vitae dictum arcu.
      </p>

      <a class="btn btn--primary" href="#">Watch more</a>
    </div>
  </div>
</section>
