<section class="section section--big-top-padding works-section">
  <div class="container">
    <h2 class="section__title section__title--rigth-line works-section__title">
      Latest work
    </h2>

    <ul class="works-list">
      <li class="works-list__item">
        <div class="work-thumb">
          <div class="work-thumb__container">
            <picture>
              <source
                srcset="
                  ./images/desktop-images/desktop-work-img-1.webp    1x,
                  ./images/desktop-images/desktop-work-img-1@2x.webp 2x
                "
                media="(min-width: 1320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/desktop-images/desktop-work-img-1.jpg    1x,
                  ./images/desktop-images/desktop-work-img-1@2x.jpg 2x
                "
                media="(min-width: 1320px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/mobile-images/mobile-work-img-1.webp    1x,
                  ./images/mobile-images/mobile-work-img-1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/mobile-images/mobile-work-img-1.jpg    1x,
                  ./images/mobile-images/mobile-work-img-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                src="./images/mobile-images/mobile-work-img-1.jpg"
                alt="Beautiful girl"
              />
            </picture>

            <div class="work-thumb__box">
              <h3 class="work-thumb__title">Debby Linchen</h3>
            </div>
          </div>

          <p class="work-thumb__descr">
            Ryan Dubik<time class="work-thumb__time" datetime="2020-06-13"
              >13 June, 2020</time
            >
          </p>
        </div>

        <p class="works-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet
          habitant facilisis sapien massa duis. Consequat, vitae elit
          pellentesque fringilla. Non a, neque vitae dictum arcu.
        </p>
      </li>

      <li class="works-list__item">
        <div class="work-thumb">
          <div class="work-thumb__container work-thumb__container--reverse">
            <picture>
              <source
                srcset="
                  ./images/desktop-images/desktop-work-img-2.webp    1x,
                  ./images/desktop-images/desktop-work-img-2@2x.webp 2x
                "
                media="(min-width: 1320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/desktop-images/desktop-work-img-2.jpg    1x,
                  ./images/desktop-images/desktop-work-img-2@2x.jpg 2x
                "
                media="(min-width: 1320px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/mobile-images/mobile-work-img-2.webp    1x,
                  ./images/mobile-images/mobile-work-img-2@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/mobile-images/mobile-work-img-2.jpg    1x,
                  ./images/mobile-images/mobile-work-img-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                src="./images/mobile-images/mobile-work-img-2.jpg"
                alt="Child"
              />
            </picture>

            <div class="work-thumb__box">
              <h3 class="work-thumb__title">Emily Draplin</h3>
            </div>
          </div>

          <p class="work-thumb__descr work-thumb__descr--left">
            Ryan Dubik<time class="work-thumb__time" datetime="2020-06-13"
              >13 June, 2020</time
            >
          </p>
        </div>

        <p class="works-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet
          habitant facilisis sapien massa duis. Consequat, vitae elit
          pellentesque fringilla. Non a, neque vitae dictum arcu.
        </p>
      </li>
    </ul>
  </div>
</section>
