.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  background-color: $color-primary;

  @media screen and (min-width: $desktop) {
    padding: 25px 20px;
  }
}

.gallery-list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  max-width: 342px;

  @media screen and (min-width: $desktop) {
    max-width: 1280px;
  }
}

.gallery-list__link {
  display: block;
  max-width: 114px;

  @media screen and (min-width: $desktop) {
    max-width: 160px;
  }
}
